header
    nav
        ul
            li(class=(title === 'Home' && 'active'))
                a(href='index.html') home
            li(class=(title === 'About' && 'active'))
                a(href='about.html') about